{% extends 'base.html' %}

{% block content %}
<div>

  <h1>{{ object.title }}</h1>
   <p><i class="fa fa-user"></i> {{ object.source }}&nbsp;|&nbsp;<i class="fa fa-calendar"></i> {{ object.published_at }}</p>
  <br>
  <h2>Description</h2>
  <p>{{ object.desciption }}
  <br>
  <br>
  <img src="{{ object.url_to_image }}" alt="No Image">
  <br>
  <h2>Content</h2>
  <p>{{ object.content }}
  <br>
  <h3>Author: {{object.author}}</h3>
  <br>
  <h3>For more details click <a href="{{ object.url }}">here</a></h3>
  <br>
  <h4>Back to <a href="{% url 'news_list' %}"><i class="fa fa-home"></i></a></h4>
      
  
</div>

<style type="text/css">
    img { 
    animation: fadeInAnimation ease 3s 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    width:300px;
    height:300px;
    } 
      
    @keyframes fadeInAnimation { 
        0% { 
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
         } 
    }
</style>
{% endblock content %}



